/*通用样式*/

*{
	margin: 0;
	padding: 0;
}
body {
	color: #333;
	font: 12px/1.5 arial, tahoma, 宋体;
}
em,i{
	font-style: normal;
}
img{
	border: none;
}
#charact img:hover,#financial img:hover,.floor img:hover{
	opacity: 0.8;
}
a {
	text-decoration: none;
	color: #666;
}
a:hover {
	color: #F60;
	text-decoration: underline;
}
ul {
	list-style: none;
}
@font-face {
	font-family: 'ng-iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), 
	     url('../font/iconfont.woff') format('woff'), 
	     url('../font/iconfont.ttf') format('truetype'), 
	     url('../font/iconfont.svg#uxiconfont') format('svg');
}
.ng-iconfont{
	font-family: "ng-iconfont" !important;
	font-style: normal;
}
.mb{
	line-height: 30px;
	font-size: 17px;
}
.search-icon{
	color: #ccc;
    display: block;
    font-size: 18px;
    height: 34px;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 34px;
    background: #fff;
}







/*头部广告开始*/

#layout_adt {
	background: #008CC7;
	width: 100%;
	height: auto;
}
#top_adt_big{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}
#top_adt {
	width: 1190px;
	margin: 0 auto;
	display: block;
	height: 0;
	overflow: hidden;
	position: relative;
}
#top_adt .x {
	background: url(../img/s_pic.png) no-repeat 0 0;
	height: 15px;
	overflow: hidden;
	position: absolute;
	right: -2px;
	top: 3px;
	width: 15px;
}
#top_adt .x:hover {
	background: url(../img/s_pic.png) no-repeat -15px 0;
}
/*头部广告结束*/
/*头部全站导航开始*/

#layout_nav {
	background: #F5F5F5;
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #eee;
}
#top_nav {
	height: 35px;
	line-height: 35px;
	/*min-width: 990px;*/
	
	width: 1190px;
	position: relative;
	margin: 0 auto;
}
#top_nav .top_nav_left {
	float: left;
	width: 85px;
	display: block;
	line-height: 33px;
	position: relative;
	padding: 0 9px;
	border: 1px #f5f5f5 solid;
}
#top_nav .top_nav_left:hover {
	background: #fff;
	border: 1px #ddd solid;
	height: 35px;
	border-bottom: 0px #fff solid;
	z-index: 998;
}
#top_nav .top_nav_left:hover .arrow {
	transform: rotate(180deg);
}
#top_nav .top_nav_left .xin {
	position: absolute;
	/*float: left;*/
	
	overflow: hidden;
	width: 16px;
	height: 16px;
	top: 6px;
	left: 57px;
	background: url('../img/s_pic1.png') no-repeat -16px -205px;
}
#top_nav .top_nav_left .arrow {
	position: absolute;
	left: 75px;
	top: 16px;
	transition: transform 0.2s ease-in 0s;
}
/*#top_nav .top_nav_left:hover .wangzhandaohang{
	display: block;
}*/
#top_nav .wangzhandaohang{
	display: none;
	width: 990px;
	height: 242px;
	border: 1px solid #DDDDDD;
	border-top: none;
	background: #fff;
	position: absolute;
	top: 35px;
	left: -1px;
	z-index: 996;
} 
#top_nav .wangzhandaohang dl{
	border-right: 1px solid #eee;
	float: left;
	padding-left: 20px;
	width:176px;
	margin-top: 25px;
}
#top_nav .wangzhandaohang dt{
	font-family: "微软雅黑";
	font-size: 14px;
	height: 25px;
	line-height: 17px;
	width: 100%;
}
#top_nav .wangzhandaohang dd{
	overflow: hidden;
	float: left;
	height: 25px;
	line-height: 25px;
	width: 78px;
	display: inline-block;
	/*color: #666;*/
}



#top_nav .top_nav_right {
	float: right;
	width: 661px;
	height: 35px;
}
#top_nav .top_nav_right a {
	line-height: 33px;
	padding: 0 10px;
	float: left;
	overflow: hidden;
	border: 1px #f5f5f5 solid;
}
#top_nav .top_nav_right a.h {
	border: 1px #ddd solid;
	border-bottom: 2px #fff solid;
	background: #fff;
}
#top_nav .top_nav_right .hb:hover{
	border: 1px #f5f5f5 solid;
	/*border-bottom: 2px #ddd solid;*/
	background: #f5f5f5;
	
}
#top_nav .top_nav_right a:hover{
	border: 1px #ddd solid;
	border-bottom: 2px #fff solid;
	background: #fff;
}
#top_nav .top_nav_right .login {
	float: left;
	height: 35px;
	line-height: 33px;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
}
#top_nav .top_nav_right .login:hover {
	background: #eee;
}
#top_nav .top_nav_right .login a {
	border: none;
	width: 24px;
	display: block;
	float: left;
	padding: 0;
	overflow: hidden;
}
#top_nav .top_nav_right .login a:hover {
	background: #eee;
}
#top_nav .top_nav_right .arrow{
	transition: transform 0.2s ease-in 0s;
}
#top_nav .top_nav_right a:hover .arrow {
	transform: rotate(180deg);
}
#top_nav .top_nav_right .cart{
	display: inline-block;
	font-size: 18px;
	margin-right: 7px;
	width: 16px;
	line-height: 30px;
}
#top_nav .top_nav_right a span{
	font-size: 14px;
	line-height: 30px;
	/*font-family: "微软雅黑";*/
}
#top_nav .top_nav_right a .yuan{
	width: 8px;
	height: 16px;
	display: inline-block;
	padding: 0 4px;
	position: relative;
	text-align: center;
	color: #FFFFFF;
	border-radius: 8px;
	background: #f7a705;
	top: 2px;
	left: -2px;
}
#top_nav .top_nav_right a .yuan .num{
	font-size: 12px;
	line-height: 15px;
	position: relative;
	top: -8px;
	left: 0.5px;
}





/*头部全站导航结束*/
/*搜索栏目*/
#search{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
	
	/*background: red;*/
	
}
#search .logo{
	float: left;
	width: 190px;
	display: block;
	height: 80px;
	overflow: hidden;
	background: url(../img/s_pic1.png) -84px -248px;
}
#search .main_search{
	height: 100px;
	left: 370px;
	position: absolute;
	top: 0;
	width: 600px;
}
#search form{
	margin: 0;
	padding: 0;
}
#search .main_search .ng_search{
	display: inline-block;
	float: right;
	margin: 28px 0 0;
	position: relative;
	width: 600px;
	/*background: #ccc;*/
}
.search-keyword-box{
	border-color: #ffaa00;
	border-style: solid none solid solid;
	border-width: 2px medium 2px 2px;
	/*height: 45px;*/
	padding-left: 30px;
	float: left;
    position: relative;
}
#searchKeywords{
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ccc;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin-top: 0;
    padding: 8px 10px 8px 0;
    width: 458px;
}
.search-btn{
	background: #FFAA00;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: "MicroSoft YaHei";
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    letter-spacing: 7px;
    margin-top: 0;
    padding: 0 30px;
    width: 100px;
    float: left;
}
.search-btn:hover{
	background: #ff8800;
}
.hotwords{
	color: #999;
	float: left;
	height: 18px;
	margin-top: 5px;
	overflow: hidden;
	width: 100%;
}
.hotwords a{
	color: #999;
	float: left;
	font-size: 12px;
	margin-right: 10px;
	white-space: nowrap;
}
.hotwords a:hover{
	color: #FF6600;
}
.erweima{
	float: right;
	/*margin-top: 10px;*/
	position: absolute;
	top: 10px;
	right: 0;
}
.erweima a{
	display: inline-block;
	width: 180px;
	height: 100px;
	float: right;
	/*overflow: hidden;*/
}
/*搜索栏目结束*/
/*分类头部开始*/
#layout_sort{
	border-bottom: 2px solid #333;
	width: 100%;
	height: 36px;
}
#sort{
	min-width: 1190px;
	width: 1190px;
	height: 36px;
	
	/*background: #ccc;*/
	margin: 0 auto;
	position: relative;
}
#sort .sort_index a:hover{
	color: #fff;
}
.sort_index{
	width: 190px;
	height: auto;
	float: left;
	/*background: #008CC7;*/
}
.sort_index_top{
	background: #FFAA00;
    color: #fff;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    position: relative;
}
.sort_index_top em{
	font-size: 14px;
	height: 35px;
	margin-right: 10px;
	width: 14px;
	display: inline-block;
	line-height: 36px;
}
.sort_index_top span{
	font-weight: 700;
	line-height: 36px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.sort_index_down{
	z-index: 990;
	position: relative;
}
.sort_index_down .list{
	padding-top: 2px;
	background: #2b2b2b;
	height: 442px;
	padding-bottom: 8px;
	position: relative;
	width: 190px;
	z-index: 991;
}
.sort_index_down .list li{
	border-bottom: 1px solid #252525;
	border-top: 1px solid #333333;
	height: 32px;
	line-height: 32px;
	float: left;
	overflow: hidden;
	padding-left: 10px;
	width: 180px;
	font-family: "微软雅黑";
	color: #333;
}
.sort_index_down .list li:hover{
	background: #fff;
	border-left: 1px solid #2b2b2b;
}
.sort_index_down .list li:hover a{
	color: #333;
	font-weight: 700;
}
.sort_index_down .list li em{
	color: #FFAA00;
	float: left;
	font-size: 16px;
	padding-right: 2px;
	width: 16px;
	line-height: 32px;
	display: inline-block;
}
.sort_index_down .list li a{
	color: #EEEEEE;
	display: inline-block;
	float: left;
	font-size: 13px;
	margin-left: 8px;
	white-space: nowrap;
	line-height: 32px;
}
#sort .sort_index_down .list li a:hover{
	color: #333;
	text-decoration: underline;
}

.sort_center{
	width: 785px;
	font-family: "微软雅黑";
	height: 36px;
	line-height: 36px;
	position: absolute;
	top: 0;
	left: 190px;
	margin-left: 10px;
}
.sort_center li{
	display: block;
	float: left;
	height: 36px;
	padding: 0 12px 0 13px;
}
.sort_center li a{
	color: #333333;
	float: left;
	font-size: 15px;
	position: relative;
	line-height: 36px;
	height: 36px;
	display: block;
}
.sort_center li a .new{
	background: url(../img/s_pic1.png) no-repeat -16px -205px;
	display: block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: -18px;
	top: 3px;
	width: 16px;
}
.sort_center li a .hot{
	background: url(../img/s_pic1.png) no-repeat 0 -205px;
	display: block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: -18px;
	top: 3px;
	width: 16px;
}
.sort_center li a:hover{
	color: #FF6600;
}
.sort_right{
	display: block;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	position: absolute;
	text-align: right;
	text-overflow: ellipsis;
	top: 0;
	right: 0;
	white-space: nowrap;
	width: 200px;
}
.sort_right a{
	color: #f90;
}
/*分类头部结束*/

/*大图轮播开始*/
#layout_main_pic{
	width: 100%;
	height: 450px;
	background: #7701A1;
	
}
#layout_main_pic:hover .banner-btn{
	display: block;
}
#main_pic{
	min-width: 1190px;
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
 a.banner-prev{
	display: none;
	cursor: pointer;
	height: 84px;
	overflow: hidden;
	position: absolute;
	top: 183px;
	left: 200px;
	width: 50px;
	
}
 a.banner-next{
	display: none;
	cursor: pointer;
	height: 84px;
	overflow: hidden;
	position: absolute;
	top: 183px;
	left: 940px;
	width: 50px;
	
}
 .btn-bg {
    background: #000 none repeat scroll 0 0;
    height: 84px;
    left: 0;
    opacity: 0.15;
    position: absolute;
    top: 0;
    transition: opacity 0.2s linear 0s;
    width: 50px;
    z-index: 1;
}
#layout_main_pic:hover .btn-bg{
 	opacity: 0.2;
 }
.banner-next .arr{
	background: url(../img/s_pic.png) no-repeat -50px 0;
	right: 16px;
	height: 34px;
	overflow: hidden;
	position: absolute;
	top: 26px;
	width: 17px;
}
.banner-prev .arr{
	background: url(../img/s_pic.png) no-repeat -32px 0;
	right: 16px;
	height: 34px;
	overflow: hidden;
	position: absolute;
	top: 26px;
	width: 17px;
}
/*.banner-pic{
	width: ;
}*/
.banner-pic li {
    display: none;
    height: 450px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner-pic li a{
	height: 450px;
	position: absolute;
	width: 750px;
	top: 0;
	left: 245px;
}
.banner-pic li a img{
	height: 450px;
	width: 750px;
}
.arr{
	z-index: 1;
}
#main_pic .banner-ctrl{
	top:400px;
	left: 200px;
	height: 40px;
	position: absolute;
	width: 810px;
	z-index: 80;
}
#main_pic .banner-ctrl li{
	display: inline;
	float: left;
	height: 40px;
	margin-left: 1px;
	position: relative;
	width: 71px;
	
}
/*#main_pic .banner-ctrl li:hover{
	opacity: 0.65;
	background: #000;
}*/
#main_pic .banner-ctrl li .bg{
	background: #000;
	opacity: 0.3;
	position: relative;
	top: 0;
	height: 40px;
	display: block;
	width: 100%;
	z-index: 5;
	transition:all 0.3s ease 0s;
}
#main_pic .banner-ctrl li.mouse-hover .bg{
	height: 40px;
	top: 0;
	opacity: 0.65;
}
#main_pic .banner-ctrl li .bg.current  {
	height: 50px;
	top: -10px;
	opacity: 0.65;
}
#main_pic .banner-ctrl li .ctrl-dot{
	display: none;
	height: 4px;
	position: absolute;
	text-align: center;
	top: -4px;
	width: 100%;
	z-index: 7;
	/*background: #000;
	opacity: 0.65;*/
}
#main_pic .banner-ctrl li .ctrl-dot.current{
	display: block;
}
#main_pic .banner-ctrl li .ctrl-dot i.yellow{
	background: #ffaa00;
}

#main_pic .banner-ctrl li.mouse-hover .ctrl-dot{
	display: none;
}

#main_pic .banner-ctrl li .ctrl-dot i {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    height: 4px;
    overflow: hidden;
    vertical-align: top;
    width: 8px;
}
#main_pic .banner-ctrl li .title-item {
    bottom: 40px;
    display: none;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 223px;
    z-index: 8;
}
#main_pic .banner-ctrl li.xiangzuo .title-item {
    bottom: 40px;
    display: none;
    height: auto;
    left: -152px;
    overflow: hidden;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 223px;
    z-index: 8;
}
#main_pic .banner-ctrl li.mouse-hover .title-item{
	display: block;
}
#main_pic .banner-ctrl li .title-item .title-bg {
    background: #000 none repeat scroll 0 0;
    height: 200px;
    opacity: 0.65;
    position: absolute;
    width: 223px;
    z-index: 1;
}
#main_pic .banner-ctrl li .title-item .title-list {
    padding: 8px 10px 2px 13px;
    position: relative;
    z-index: 2;
}
#main_pic .banner-ctrl li .title-item p {
    height: 18px;
    margin-bottom: 6px;
    overflow: hidden;
}
#main_pic .banner-ctrl li .title-item p i {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    height: 4px;
    margin-right: 8px;
    overflow: hidden;
    vertical-align: middle;
    width: 8px;
}
#main_pic .banner-ctrl li .title-item p i.yellow{
	background: #ffaa00;
}
#main_pic .banner-ctrl li .title-item p.new i{
	background: #fa0;
}
#main_pic .banner-ctrl li .title-item p a {
    color: #ddd;
    display: inline-block;
    height: 18px;
    overflow: hidden;
    vertical-align: middle;
    width: 180px;
}
#main_pic .banner-ctrl li .title-item p a:hover{
	color: #f60;
}
#main_pic .banner-ctrl li h4 {
    color: #fff;
    cursor: default;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 6;
 }
 
 .show-case{
 	left: 1000px;
 	top: 10px;
 	overflow: hidden;
 	position: absolute;
 	width: 190px;

 }
 .show-case .box-all{
 	height: auto;
 	overflow: hidden;
 	position: relative;
 }
.show-case .title {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    font: 14px/40px "microsoft yahei";
    height: 40px;
    overflow: hidden;
    padding-left: 14px;
    position: relative;
}
.show-case .notice {
    border-bottom: 1px solid #eee;
    height: 155px;
    overflow: hidden;
    position: relative;
} 
.show-case .notice .bg {
    background: #fff none repeat scroll 0 0;
    height: 155px;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    width: 100%;

}
.show-case .notice .list {
    height: 145px;
    overflow: hidden;
    padding-top: 10px;
    position: absolute;
    width: 100%;

}
.show-case .notice .list li {
    height: 18px;
    line-height: 18px;
    margin: 0 10px 9px 15px;
    overflow: hidden;
} 
.show-case .notice .list li.hot i,.show-case .notice .list li.hot em{
	color: #f60;
}
.show-case .notice .list li a i{
	font-family: "微软雅黑";
}
.show-case .notice .list li a:hover{
	text-decoration: none;
}
.show-case .notice .list li a:hover em{
	text-decoration: underline;
}
.show-case .life {
    border-bottom: 1px solid #eee;
    height: 191px;
    overflow: hidden;
    position: relative;
}
.show-case .life .bg {
    background: #fff none repeat scroll 0 0;
    height: 191px;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    width: 100%;

}
.show-case .life .list {
    height: 191px;
    overflow: hidden;
    position: absolute;
    width: 200px;

}
.show-case .life .list li {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    float: left;
    height: 63px;
    overflow: hidden;
    width: 63px;
}
.show-case .life .list li a {
    color: #666;
    cursor: pointer;
    display: block;
    font-family: "microsoft yahei";
    height: 74px;
    overflow: hidden;
    text-align: center;
    width: 62px;
}
.show-case .life .list li:hover a i{
	color: #fa0;
}
.show-case .life .list li a:hover{
	color: #fa0;
	text-decoration: none;
}
.show-case .life .list li a .ng-iconfont {
    color: #666;
    display: block;
    font-size: 26px;
    height: 35px;
    line-height: 42px;
    overflow: hidden;
    text-align: center;
}
.show-case .title i {
    background: rgba(0, 0, 0, 0) url(../img/s_pic.png) repeat scroll 0 -31px;
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}
.show-case .title em{
	 vertical-align: middle;
}



 
 
/*大图轮播结束*/

/*特色馆开始*/
#charact {
    height: 420px;
    top: 20px;
    min-width: 1190px;
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#charact .title {
    color: #222;
    height: 40px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 190px;
    z-index: 10;
}
#charact .title h3 {
    float: left;
    font: bold 20px/40px "microsoft yahei";
}
#charact .title h4 {
    float: left;
    font: 12px/46px arial;
    padding-left: 6px;
}
#charact .col1 {
    border: 1px solid #eee;
    float: left;
    height: 378px;
    overflow: hidden;
    position: relative;
    top: 40px;
    width: 188px;
}
#charact .col1 img {
    display: block;
    height: 380px;
    width: 190px;
}
#charact .col2 {
    float: left;
    overflow: hidden;
    position: relative;
    top: 20px;
    width: 420px;
}
#charact .col2 li {
    font-size: 0;
}
#charact .col2 .item0 {
    background: rgba(0, 0, 0, 0) url("../img/tese3.png") no-repeat scroll 0 0;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    z-index: 10;
}
#charact .col2 .item1 img {
    display: block;
    height: 210px;
    width: 420px;
}
#charact .col2 .item2 img {
    display: block;
    height: 190px;
    width: 400px;
}
#charact .col3 {
    border: 1px solid #eee;
    float: left;
    height: 378px;
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
    position: relative;
    top: 40px;
    width: 405px;
}
#charact .col3 .line1 {
    background: #eee none repeat scroll 0 0;
    height: 1px;
    left: 15px;
    overflow: hidden;
    position: absolute;
    top: 189px;
    width: 368px;
}
#charact .col3 .line2 {
    background: #eee none repeat scroll 0 0;
    height: 348px;
    left: 199px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    width: 1px;
}
#charact .col3 li {
    background: #fff none repeat scroll 0 0;
    display: inline;
    float: left;
    height: 189px;
    overflow: hidden;
    width: 199px;
}
#charact .col3 li.item2 {
    margin-left: 1px;
}
#charact .col3 li.item3 {
    margin-top: 1px;
}
#charact .col3 li.item4 {
    margin-left: 1px;
    margin-top: 1px;
}
#charact .col3 li img {
    display: block;
    height: 190px;
    width: 200px;
}
#charact .col4 {
    border: 1px solid #eee;
    display: none;
    float: right;
    height: 378px;
    margin-left: -20px;
    overflow: hidden;
    position: relative;
    top: 40px;
    width: 199px;
}
#charact .col4 {
    display: block;
}
#charact .col4 li {
    border-bottom: 1px solid #eee;
    font-size: 0;
    height: 94px;
    overflow: hidden;
}
#charact .col4 li img {
    display: block;
    height: 95px;
    width: 200px;
}


/*特色馆结束*/


/*苏宁金融开始*/
#financial {
	min-width: 1190px;
	width: 1190px;
	margin: 0 auto;
    height: 280px;
    top: 40px;
    position: relative;
    overflow: hidden;
}
.financial-head {
    color: #222;
    height: 40px;
    overflow: hidden;
}
.financial-head h3 {
    float: left;
    font: bold 20px/40px "microsoft yahei";
}
.financial-head h4 {
    float: left;
    font: 12px/46px arial;
    padding-left: 6px;
}
.financial_main {
    background: #f8f8f8 none repeat scroll 0 0;
    height: 240px;
    overflow: hidden;
}
.financial_main .col1 {
    float: left;
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 190px;
}
.financial_main .col1 .layer {
    height: 240px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 240px;
    width: 190px;
}
.financial_main .col1 .layer .bg {
    background: #000 none repeat scroll 0 0;
    height: 240px;
    left: 0;
    opacity: 0.3;
    overflow: hidden;
    position: absolute;
    width: 190px;
    z-index: 4;
}
.financial_main .col1 .yifubao {
    background: #fff none repeat scroll 0 0;
    height: 143px;
    margin: 27px 0 0 38px;
    overflow: hidden;
    position: relative;
    width: 120px;
    z-index: 5;
}
.financial_main .col1 .yifubao img {
    display: block;
    height: 100px;
    margin: 14px 10px 3px;
    width: 100px;
}
.financial_main .col1 .yifubao p {
    color: #222;
    height: 18px;
    overflow: hidden;
    text-align: center;
}
.financial_main .col1 .yifubao p a {
    color: #222;
}
.financial_main .col1 .yifubao p a:hover {
    color: #f60;
}
.financial_main .col1 .btn {
    background: #ff4250 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font: 14px/35px "microsoft yahei";
    height: 35px;
    margin: 16px 0 0 38px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 120px;
    z-index: 5;
}
.financial_main .col2 {
    float: left;
}
.financial_main .col2 img {
    display: block;
    height: 240px;
    width: 400px;
}
.financial_main .col3 {
    float: left;
    margin-right: -10px;
    overflow: hidden;
    padding-top: 10px;
    width: 410px;
}
.financial_main .col3 li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    display: inline;
    float: left;
    height: 218px;
    margin-left: 10px;
    overflow: hidden;
    width: 188px;
}
.financial_main .col3 img {
    display: block;
    height: 220px;
    margin: -1px;
    width: 190px;
}
.financial_main .col4 {
    display: none;
    float: right;
    margin-right: 10px;
    overflow: hidden;
    padding-top: 10px;
    width: 180px;
}
.financial_main .col4 {
    display: inline;
}
.financial_main .col4 li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    display: inline;
    float: left;
    height: 103px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 178px;
}
.financial_main .col4 img {
    display: block;
    height: 105px;
    margin: -1px;
    width: 180px;
    top: 25px;
}
