.html-pang{
	min-height: 600px;
}
.html-pang .panel-title{
	font-weight: bold;
	font-size: 20px;
	margin-top: 70px;
	margin-bottom: 10px;
}
.html-pang .meid span{
	margin-right: 10px;
}.
.html-pang .panel-body{
	background: #fff;
}