* {
  margin: 0;
  padding: 0;
}
.box1 {
  width: 200px;
  height: 200px;
  background: #808080;
  color: #ffff00;
}
.box2 {
  width: 200px;
  height: 200px;
  background: #808080;
  color: #ffff00;
}
.fa li {
  width: 100px;
  height: 100px;
  background: red;
}
.fa li:hover {
  background: blue;
}
