<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>list.html</title>
	<meta name="viewport" content="width=device-width, initial-scale= 1.0">
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top kz-navbar" id="kz-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand link" href="#">我的博客</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index.html" id="un">首页<span class="sr-only">(current)</span></a></li>
					<li class="active"><a href="list.html">HTML</a></li>
					<li><a href="list.html">CSS</a></li>
					<li><a href="list.html">JavaScript</a></li>
					<li><a href="list.html">bootstrap</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="list.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<div class="panel panel-default content-item">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a href="html.html"  target="_blank" class="link">移动设备链接</a>
							</h3>
						</div>
						<div class="panel-body">
							我说万般皆是命是生活所迫不如菩提树下割肉喂鹰不如剃度出家斩断七情不如别相逢不如别相遇不如万劫不复了断性命不如日照大地无天下四季都不如都不如陪着你
						</div>
						<div class="panel-footer">
							<span class="glyphicon glyphicon-user"></span>
							<span class="panel-footer-text text-muted">qingge</span>
							<span class="glyphicon glyphicon-th"></span>
							<span class="panel-footer-text text-muted">HTML</span>
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="panel-footer-text text-muted">CSS</span>
							<span class="glyphicon glyphicon-plus"></span>
							<span class="panel-footer-text text-muted">JavaScript</span>
						</div>
					</div>
					<nav aria-label="Page navigation" id="page">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<div class="ad">
						<a href="#" class="thumbnail">
							<img src="img/qg.jpg" alt="...">
						</a>
					</div>	
					<div class="ad">	
						<a href="#" class="thumbnail">
							<img src="img/ig.jpg" alt="...">
						</a>
					</div>
					<div class="panel panel-default custom-panel">
						<div class="panel-heading">
							<h3 class="panel-title">自我简介</h3>
						</div>
						<div class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object img-me img-circle" src="img/jh.jpg" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h2 class="media-heading annane">qingge</h2>
									有些事绝对不会无趣。有些失误无法犯两次。我不会怀着耻辱而死！
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default custom-panel hot-list">
						<div class="panel-heading">
							<h3 class="panel-title">点击排行</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item"><a href="#" class="link text-ellipsis" target="_blank">北上看到的冰川是你，南下追寻的极光是你，西去流浪的经幡是你，东去皈依的佛经也是你，世不遇你，生无可喜。</a></li>
							<li class="list-group-item"><a href="#" class="link text-ellipsis" target="_blank">北上看到的冰川是你，南下追寻的极光是你，西去流浪的经幡是你，东去皈依的佛经也是你，世不遇你，生无可喜。</a></li>
							<li class="list-group-item"><a href="#" class="link text-ellipsis" target="_blank">北上看到的冰川是你，南下追寻的极光是你，西去流浪的经幡是你，东去皈依的佛经也是你，世不遇你，生无可喜。</a></li>
							<li class="list-group-item"><a href="#" class="link text-ellipsis" target="_blank">北上看到的冰川是你，南下追寻的极光是你，西去流浪的经幡是你，东去皈依的佛经也是你，世不遇你，生无可喜。</a></li>
							<li class="list-group-item"><a href="#" class="link text-ellipsis" target="_blank">北上看到的冰川是你，南下追寻的极光是你，西去流浪的经幡是你，东去皈依的佛经也是你，世不遇你，生无可喜。</a></li>
							<li class="list-group-item"><a href="#" class="link text-ellipsis" target="_blank">北上看到的冰川是你，南下追寻的极光是你，西去流浪的经幡是你，东去皈依的佛经也是你，世不遇你，生无可喜。</a></li>
							<li class="list-group-item"><a href="#" class="link text-ellipsis" target="_blank">北上看到的冰川是你，南下追寻的极光是你，西去流浪的经幡是你，东去皈依的佛经也是你，世不遇你，生无可喜。</a></li>
						</ul>
						<div class="panel panel-default custom-panel">
							<div class="panel-heading">
								<h3 class="panel-title">关注我</h3>
							</div>
							<div class="panel-body">
								<img src="img/daji.jpg" class="img-responsive" id="miuo" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		© 2018 kuazhu.com 豫ICP备15027861号-2
	</footer>
</body>
<script src="lib/jquery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</html>